menu "Application config"
    config APP_DEVICE_NAME
        string "RainMaker device name"
        default "Example"

    config APP_DEVICE_TYPE
        string "RainMaker device type"
        default "esp.device.switch"
endmenu
